/**
 * This is the main style sheet for the public interface
 */
 /* Define a basic font, size and so on for the minimal template */
.minimal-template {
	font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 18px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.6em;
	background: #fff;
	color: #446;
	min-height: 100vh;
	margin-bottom: 3em;
}

#form-page {
	margin: 0 auto; max-width: 50em;
}

#form-main { max-width: 100%; margin: 1em; }
#form-banner { margin: 0 1em; color: #668; border-bottom: 1px solid #ccc; }
#form-banner .banner-container { overflow: auto; width: 100%; display: flex; justify-content: space-between; }
#form-banner .banner-container h1, #form-banner .banner-container img {
	 display: table-cell; vertical-align: bottom;
}
#form-banner .banner-container h1 {
	font-size: 1.75em; font-weight: 100; text-shadow: 1px 1px #eee;
	margin: 0.5em 0; padding: 0 1em 0 0;
	align-self: flex-end;
}
#form-banner .banner-container img { flex-shrink: 0; }
@media screen and (max-width: 639px) {
	#form-page #form-banner .banner-container img { display: none; }
	#form-page #form-banner .banner-container h1 {
		font-size: 1.25em; font-weight: 400; padding:0; 
	}
}
 
.minimal-template .form-input-list input[type="text"], 
.minimal-template .form-input-list input[type="email"], 
.minimal-template .form-input-list input[type="password"],
.minimal-template .form-input-list fieldset, .form-input-list details,
.minimal-template .form-input-list select, .form-input-list textarea { 
	font-size: inherit; background: #fefefe;
}
.minimal-template .form-input-list .input-container input,
.minimal-template .form-input-list .input-container textarea,
.minimal-template .form-input-list .input-container select,
.minimal-template .form-input-list.radio-input-list > .input-item > .input-container > label,
.minimal-template .form-input-list .input-item.checkbox > .input-container > label {
		font-size: inherit; font-weight: 300; color: #446;
}
.minimal-template .form-input-list .input-container input,
.minimal-template .form-input-list .input-container select {
	box-sizing: border-box; width: initial;
}
.minimal-template .form-input-list .input-container input { padding: 0.25em; }
.minimal-template .form-input-list .input-container textarea {
	padding: 0.25em; box-sizing: border-box; width: 100%;
}

.minimal-template .form-input-list .input-container input[type="text"], 
.minimal-template .form-input-list .input-container input[type="email"], 
.minimal-template .form-input-list .input-container input[type="password"] {
	width: 100%;
}
.minimal-template .form-input-list .input-container input[type="text"], 
.minimal-template .form-input-list .input-container input[type="email"], 
.minimal-template .form-input-list .input-container input[type="password"],
.minimal-template .form-input-list .input-container select {
	min-height: 2em;
}

.minimal-template .form-input-list .input-container select {
	font-family: inherit; font-size: inherit; font-weight: 300; color: #446; 
	height: 2em; line-height: normal; padding: 0.25em;
	border: 1px solid #999; border-radius: 0.25em; max-width: 100%;
}

.minimal-template .form-input-list label,
.minimal-template .form-input-list legend,
.minimal-template .form-input-list summary {
	color: #668; font-weight: 400; margin: auto 0; width: auto; border: none;
}
.minimal-template .form-input-list .input-item.info label { cursor: auto; }
.minimal-template .form-input-list :focus, .form-input-buttons :focus { outline: 1px solid #99f; }


/* We use dashicons on the public interface */
.dashicons { font-family: dashicons; }

/* Make sure JQuery elements inherit the font and size, otheriwse they're out of proportion */
body .ui-widget, body .ui-widget input, body .ui-widget select,
body.ui-widget textarea, body .ui-widget button {
	font-family: inherit;
	font-size: inherit;
}


.login-title { font-size: x-large; font-weight: bold; }
.login-form-container { 
	max-width: 16em;
	margin: 1em auto;
	border: 1px solid #ccc;
	padding: 0 1em;
}
.login-form-container input[type="text"], .login-form-container input[type="password"] {
	width: 100%;
	border: 1px solid #ccc;
	font-size: inherit;
	padding: 0.25em;
	background: #fcfcfc;
	margin: 0.25em 0;
	line-height: 1.5em;
	box-sizing: border-box;
}
.login-form-container .login-submit { width: 100%; overflow: auto; }
.login-form-container input[type="submit"] { font-size: inherit; float: right; }

.main-launch-container .launch-container { display: block; margin: 1em; }
.main-launch-container .launch-button {
	display: inline-block; width: 38%; text-align: center; font-weight: bold;
}


.fixer-reg-form .input-item.first-name, .fixer-reg-form .input-item.last-name {
	display: inline-block; width: 50%; vertical-align: top;
}
.fixer-reg-form .input-item.first-name .input-container {
	 margin-right: 0.25em;
}

.ui-dialog { max-width: 90%; }

.datatable-container .datatable-toolbar {
	display: flex;
	flex-wrap: wrap;
	justify-content: end;
	gap: 0.5em;
	font-size: 0.85em;
	margin-bottom: 1em;
}
.datatable-container .reg-man-rc-datatable-header-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 0.5em;
}

.datatable-container .dataTables_wrapper .dataTables_filter input.filter-on { background: #ff9; }

.datatable-container .dataTables_wrapper .dataTables_processing {
	top: 4em;
	padding: 1em 0;
	background: #fff;
	border: 1px solid #ccc;
}
.datatable-container .dataTables_wrapper .dataTables_info { padding: 0; float: none; }

.datatable-container td.action-buttons { text-align: center; }
.datatable-container button .dashicons { margin: 0 0.1em; vertical-align: middle; }
.datatable-container button .button-text { vertical-align: middle; }

.standalone-server-upload-header { text-align: right; font-size: 80%; }
.standalone-server-upload-form-please-wait { opacity: 0.5; }

.standalone-download-events-form-container, .standalone-create-event-form-container  { width: 40em; }

.rest-error-message { font-size: 80%; }
.rest-error-message .message-pre-wrap { white-space: pre-wrap; }

.upload-events-list-table .upload-cell-content { text-align: right; }

.upload-records-form { width: 40em; min-height: 10em; }



.reg-man-rc-show-hide-container.show .reg-man-rc-show-hide-content {
	max-height: none;
}
.reg-man-rc-show-hide-container .reg-man-rc-show-hide-button-container {
	display: block;
	width: 100%;
	overflow: auto;
	text-align: center;
}
.reg-man-rc-show-hide-container .reg-man-rc-show-hide-button-container .hide-button {
	display: none;
}
.reg-man-rc-show-hide-container.show .reg-man-rc-show-hide-button-container .hide-button {
	display: inline;
}
.reg-man-rc-show-hide-container.show .reg-man-rc-show-hide-button-container .show-button {
	display: none;
}
.reg-man-rc-shortcode-container.next-event {
	background: #369;
	padding: 0.5em 1em;
	border-radius: 1em;
	font-size: 1.2em;
	font-weight: bold;
	display: inline-block;
	color: #fff;
}
.reg-man-rc-shortcode-container.next-event:hover {
	background: #333;
}
.reg-man-rc-shortcode-container.next-event .reg-man-rc-next-event-shortcode-link {
	color: inherit;
}
.reg-man-rc-shortcode-container.upcoming-events .reg-man-rc-upcoming-events-date-container {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	border: 1px solid #ccc;
	border-radius: 0.25em;
	padding: 0.25em;
	background: #eee;
}
.reg-man-rc-shortcode-container.upcoming-events .reg-man-rc-upcoming-events-day-label-container {
	border: 1px solid #ccc;
	border-radius: 0.5em;
	padding: 0.5em;
	margin: 0.25em;
	text-align: center;
	font-size: 0.8em;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.4em;
	background: #369;
	color: #fff;
	min-width: 8em;
	flex-grow: 1;
}
.reg-man-rc-shortcode-container.upcoming-events .reg-man-rc-upcoming-events-day-label-container .day-of-month {
	font-size: 2em;
	line-height: 1.4em;
}
.reg-man-rc-upcoming-events-event-group-container {
	display: flex;
	flex-direction: column;
	flex-grow: 5;
}
.reg-man-rc-upcoming-events-event-container {
	border: 1px solid #ccc;
	border-radius: 0.25em;
	padding: 0.25em;
	margin: 0.25em;
	background: #fcfcfc;
}
.reg-man-rc-object-view-disclosure-container summary {
	list-style-type: none;
	cursor: pointer;
}
details.reg-man-rc-object-view-disclosure-container[open] summary::before { 
	content: '-';
}
details.reg-man-rc-object-view-disclosure-container summary::before {
	content: '+';
	float: right;
	font-size: 1.2em;
	width: 1.2em;
	line-height: 1.4em;
	text-align: center;
	font-weight: bold;	border: 1px solid #ccc;
	background: #eee;
	border-radius: 0.25em;
}
.reg-man-rc-object-view-summary-container {
	margin: 0 0.25em;
	display: flex;
	flex-direction: column;
}
.reg-man-rc-object-view-disclosure-container .reg-man-rc-object-view-main-content .reg-man-rc-object-view-item:first-child {
	margin-top: 0;
}
.reg-man-rc-object-view-disclosure-container .reg-man-rc-object-view-main-content > .reg-man-rc-object-view-section {
	margin: 0;
}
