/**
 * This is the main style sheet for the admin interface
 */
 
 @media print {
 	body.wp-admin {
 		background: transparent;
 	}
	#adminmenuwrap, #adminmenuback, #wpadminbar {
		display: none;
	}
	#wpcontent {
		margin: 0;
	}
	#wpbody-content .page-title-action, #wpbody-content .tablenav .bulkactions,
	#wpbody-content #screen-meta-links,
	#wpbody-content .search-box {
		display: none;
	}
}
.reg-man-rc-admin-fieldset {
	border: 1px solid #ccc;
	padding: 0.25em 0.5em;
}

.item-type-checkbox-container {
	display: block;
	margin: 0 0.5em;
}

.wp-admin #titlediv + .meta-box-sortables {
	margin-top: 1em;
}

.tablenav .actions .combobox-container {
	float: left;
	margin-right: 6px;
	max-width: 12.5rem;
}

.tablenav .actions .select2 {
	font-size: 14px;
}

.reg-man-rc-colour-display {
	width: 20px;
	height: 20px;
	border: 1px solid #ccc;
	margin-right: 0.25em;
	display: inline-block;
	box-sizing: border-box;
}

.media-library-select-container .button.media-library-launch {
	margin: 0.5em 0;
}
/* FIXME - NOT USED
.media-library-select-container .media-library-img-container:NOT(:EMPTY) ~ .media-library-select,
.media-library-select-container .media-library-img-container:EMPTY ~ .media-library-change,
.media-library-select-container .media-library-img-container:EMPTY ~ .media-library-remove {
	display: none;
}
*/
.media-library-select-container.reg-form-logo .media-library-img-container img {
	max-height: 80px;
	width: auto;
} 
.media-library-select-container.fixer-station-icon .media-library-img-container img,
.reg-man-rc-fixer-station-term-list-icon img {
	max-height: 50px;
	width: auto;
} 

.media-library-select-container-clone-item {
	display: none;
}
.fixer-station-icons-list li {
	border: 1px solid #ccc;
	padding: 0.5em;
}

/* These containers will be shown on the client side as needed */
.add-visitor-input-list, .add-volunteer-input-list {
	display: none;
}

.reg-man-rc-admin-radio-group-label {
	display: block;
		margin: 0.25em 0;
		padding: 0;
}
.true-false-radio-container {
	margin-bottom: 0.25em;
}

.user-role-cpt-capabilites-container {
	margin-bottom: 1em;
}
.user-role-cpt-capabilites-container .user-role-cpt-capabilities-heading {
	margin: 0.25em 0;
}
.user-role-cpt-capabilites-container .user-role-cpt-capabilites-input-container {
	margin: 0.25em 0;
}

.column-taxonomy-reg-man-rc-fixer-station,
.column-taxonomy-reg-man-rc-volunteer-role,
.column-taxonomy-reg-man-rc-event-category {
	white-space: break-spaces;
}

.tablenav .actions .reg-man-rc-filter.filter-active,
.tablenav .actions #filter-by-date.filter-active,
.tablenav .actions .reg-man-rc-filter.filter-active + span.select2 {
	font-weight: bold;
}
.tablenav .actions .reg-man-rc-filter.filter-active option,
.tablenav .actions #filter-by-date.filter-active option {
	font-weight: normal;
}

.datatable.volunteer-my-reg-table .name { display: none; }

.wp-admin .ui-dialog{ z-index: 10000 !important; }

.reg-man-rc-input-group-table {
	width: 100%;
	border: 1px solid #ccc;
	border-collapse: collapse;
	table-layout: fixed;
}
.reg-man-rc-input-group-table th, .reg-man-rc-input-group-table td {
	padding: 0.5em;
	border: 1px solid #ccc;
}
.reg-man-rc-input-group-table th {
	overflow: clip;
	white-space: break-spaces;
	text-overflow: ellipsis;
}
.reg-man-rc-input-group-table .reg-man-rc-sup-data-table-cell {
	text-align: center;
}
.reg-man-rc-input-group-table .reg-man-rc-sup-data-table-cell input {
	max-width: 100%;
}
.reg-man-rc-input-group-table.reg-man-rc-sup-item-table .reg-man-rc-sup-item-data-template {
	display: none;
}

.reg-man-rc-vol-reg-is-apprentice {
	margin-top: 1em;
}

.reg-man-rc-admin-notice-form {
	padding-bottom: 1em;
}
.reg-man-rc-admin-notice-form .reg-man-rc-button-container {
	text-align: right;
}
.reg-man-rc-admin-notice-form .reg-man-rc-button-container .reg-man-rc-button {
	margin: 0 0.5em
}

.reg-man-rc-admin-create-defaults-table {
	border: 1px solid #ccc;
	border-collapse: collapse;
}
.reg-man-rc-admin-create-defaults-table th, .reg-man-rc-admin-create-defaults-table td {
	padding: 0.25em 0.5em;
	border: 1px solid #ccc;
}
.reg-man-rc-admin-create-defaults-table .colour-input {
	text-align: center;
}
.reg-man-rc-admin-create-defaults-table .yes-no-input .radio-label {
	margin: 0 0.5em;
	white-space: nowrap;
}

.reg-man-rc-admin-create-item-sugg-table .reg-man-rc-admin-create-defaults-button-container .button {
	margin: 0.5em;
}

.reg-man-rc-settings-google-map-container .reg-man-rc-google-map-container {
	margin-top: 1em;
}

.reg-man-rc-metabox > .form-input-list {
	margin: 0
}

.reg-man-rc-metabox .form-input-list .input-item {
	padding: 0;
}

.reg-man-rc-event-fixer-station-metabox .reg-man-rc-non-repair-event-input {
	margin-top: 1em;
}
.reg-man-rc-event-fixer-station-metabox .reg-man-rc-non-repair-event-input .input-container {
	font-weight: bold;
}
.reg-man-rc-admin-metabox-google-map-container, .reg-man-rc-admin-settings-map-container {
	height: 25em;
}
.reg-man-rc-admin-create-defaults-form legend {
	font-size: 1.5em;
}
.reg-man-rc-metabox-radio-label {
	display: block;
	margin: 0.5em 0;
}
.reg-man-rc-tab-list-item .dashicons {
	color: #999;
	margin: 0 0.125em;
}
.reg-man-rc-tabs-container { visibility: hidden; }
.reg-man-rc-tabs-container.tabs-init-complete { visibility: visible; }

.column-fixer_stations .custom-post-type-admin-fixer-station-list {
	margin: 0;
	padding: 0;
	list-style: none;
}
.column-fixer_stations .custom-post-type-admin-fixer-station-list .fixer-station-item.fixer-station-icon {
	margin: 0.1em;
	padding: 0;
	display: inline-block;
} 
.column-fixer_stations .custom-post-type-admin-fixer-station-list .fixer-station-item.fixer-station-icon img {
	width: 2em;
}
.column-fixer_stations .custom-post-type-admin-fixer-station-list .fixer-station-item.fixer-station-text {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0.1em 0;
}
.reg-man-rc-admin-excerpt-title {
	margin: 1em 0 0.5em 0;
	padding: 0;
	font-size: 1.1em;
	font-weight: 600;
}

.reg-man-rc-admin-calendar-page-content {
	margin-top: 1em;
}

.reg-man-rc-admin-calendar-container,
.reg-man-rc-admin-calendar-container .reg-man-rc-calendar-container {
	height: 100%;
}
.reg-man-rc-admin-calendar-container .reg-man-rc-calendar-view {
	height: 80vh;
}

.reg-man-rc-info-window-container.admin-calendar .object-view-details-fixer-station-list img,
.reg-man-rc-admin-event-calendar-event-view-container .object-view-details-fixer-station-list img,
.reg-man-rc-info-window-container.admin-cal-map .object-view-details-fixer-station-list img {
	max-width: 3em;
}
.reg-man-rc-info-window-container.admin-calendar .object-view-details-fixer-station-list figcaption,
.reg-man-rc-admin-event-calendar-event-view-container .object-view-details-fixer-station-list figcaption,
.reg-man-rc-info-window-container.admin-cal-map .object-view-details-fixer-station-list figcaption {
	display: none;
}


.reg-man-rc-admin-calendar-page-header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 1em 0;
	font-size: 1.4em;
	font-weight: 400;
}
.reg-man-rc-admin-calendar-page-header .admin-calendar-page-title-back-link .admin-calendar-page-title-back-link-icon,
.reg-man-rc-admin-calendar-page-header .admin-calendar-page-title-back-link .admin-calendar-page-title-back-link-text {
	vertical-align: middle;
}

.reg-man-rc-admin-calendar-page-header a {
	text-decoration: none;
}
.reg-man-rc-admin-calendar-page-header .reg-man-rc-admin-calendar-page-header-part.admin-calendar-page-title-text {
	flex-grow: 1;
	text-align: center;
}

.wp-admin .postbox .ui-widget {
	font-family: inherit;
	font-size: inherit;
}

.reg-man-rc-sup-data-table-head-repair-status, .reg-man-rc-sup-data-table-head-item-type {
  font-weight: normal;
}

.postbox > .form-input-list {
	margin: 0;
}

#reg-man-rc-event-venue-metabox .reg-man-rc-venue-location-container > .form-input-list {
	margin: 0;
}

.recurring-event-input-container {
	display: none;
}

#poststuff .fc .fc-toolbar-title {
  font-size: 1.75em;
  margin: 0;
}

.form-input-list.compact .input-item.recur-rule-input.event-recur-flag {
	flex-basis: 100%;
}
.recur-rule-input select.combobox {
	width: 20em;
}
.event-cancel-dates-input-list select.combobox {
	width: 20em;
}

.event-dates-times-metabox-container .event-dates-input-unlock-item label {
	font-weight: bold;
}

.reg-man-rc-calendar-ical-feed-metabox-container .ical-feed-input-list.has-no-feed .label-container,
.reg-man-rc-calendar-ical-feed-metabox-container .ical-feed-input-list.has-no-feed .hint-container {
	opacity: 0.67;
}

.email-list-dialog .reg-man-rc-email-list {
	padding: 1em;
	border: 1px solid #ccc;
	max-width: 60em;
}
.reg-man-rc-import-form {
	padding: 1em;
	border: 1px solid #ccc;
	max-width: 80em;
}

.row-actions .reg-man-rc-trash .reg-man-rc-remove-cpt-button {
	color: #b32d2e;
}
.reg-man-rc-remove-cpt-form-radio-simple {
  margin: 0 0.5em;
}

.reg-man-rc-remove-cpt-record-info label {
  font-weight: bold;
}