/**
 * This is the style sheet for the stats view
 */
 
 .reg-man-rc-stats-view-container .reg-man-rc-stats-view-filter-container {
 	font-size: 125%;
 }
  
 .reg-man-rc-chart-group-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.reg-man-rc-chart-view, .reg-man-rc-stats-table-view {
	border: 1px solid #ccc;
	padding: 0;
	margin: 0.5em;
	position: relative;
}
.reg-man-rc-stats-table-view {
	width: 100%;
}
.reg-man-rc-chart-view .heading-container, .reg-man-rc-stats-table-view .heading-container {
	padding: 0.25em;
	margin: 0;
	color: #333;
	background: #eee;
	border-bottom: 1px solid #ccc;
	display: flex;
	justify-content: space-between;
}
.reg-man-rc-chart-view .heading-container h4, .reg-man-rc-stats-table-view .heading-container h4 {
	padding: 0;
	margin: 0.5em;
}
.reg-man-rc-chart-view .heading-container .toolbar-container select,
.reg-man-rc-stats-table-view .heading-container .toolbar-container select {
	margin: 0.25em;
}

.reg-man-rc-stats-table-view .datatable-container {
	padding: 0.5em;
}

.reg-man-rc-chart-view .reg-man-rc-chart-canvas-container {
	position: relative;
	width: 22em;
	height: 22em;
	margin: 1em;
}

.reg-man-rc-chart-view canvas {
}
.reg-man-rc-chart-view .reg-man-rc-chart-loading-indicator,
.reg-man-rc-stats-table-view .reg-man-rc-table-loading-indicator {
	z-index: 20000;
	height: 100%;
	width: 100%;
	background-color: rgba( 255,255,255, 0.5 );
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	margin: 0;
	padding: 0;
}

.reg-man-rc-chart-view.reg-man-rc-chart-loading .reg-man-rc-chart-loading-indicator,
.reg-man-rc-stats-table-view.reg-man-rc-table-loading .reg-man-rc-table-loading-indicator {
	visibility: visible;
}

.reg-man-rc-admin-events-map-container {
	height: 67vh;
}

.datatable .iso-8601-date { display: none; }